<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Guidance Magento Team <magento@guidance.com>
  - Copyright (c) 2013 Guidance Solutions (http://www.guidance.com)
  -->

<config>
    <modules>
        <Tgc_Catalog>
            <version>0.57.0</version>
        </Tgc_Catalog>
    </modules>
    <global>
        <helpers>
            <tgc_catalog>
                <class>Tgc_Catalog_Helper</class>
            </tgc_catalog>
            <catalog>
                <rewrite>
                    <product_view>Tgc_Catalog_Helper_Product_View</product_view>
                </rewrite>
            </catalog>
            <enterprise_catalog>
                <rewrite>
                    <data>Tgc_Catalog_Helper_Data</data>
                </rewrite>
            </enterprise_catalog>
            <catalogsearch>
                <rewrite>
                    <data>Tgc_Catalog_Helper_Search</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <blocks>
            <tgc_catalog>
                <class>Tgc_Catalog_Block</class>
            </tgc_catalog>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Tgc_Catalog_Block_Product_List_Toolbar</product_list_toolbar>
                    <product_list>Tgc_Catalog_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Tgc_Catalog_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <catalog_category_tab_product>Tgc_Catalog_Block_Adminhtml_Catalog_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
            <catalogsearch>
                <rewrite>
                    <result>Tgc_Catalog_Block_CatalogSearch_Result</result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <models>
            <tgc_catalog>
                <class>Tgc_Catalog_Model</class>
            </tgc_catalog>
            <catalog>
                <rewrite>
                    <product_type_configurable>Tgc_Catalog_Model_Product_Type_Configurable</product_type_configurable>
                    <category>Tgc_Catalog_Model_Category</category>
                    <product_type_configurable_price>Tgc_Catalog_Model_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_collection>Tgc_Catalog_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <enterprise_catalog>
                <rewrite>
                    <index_action_product_price_refresh>Tgc_Catalog_Model_Index_Action_Product_Price_Refresh</index_action_product_price_refresh>
                    <index_action_product_price_refresh_changelog>Tgc_Catalog_Model_Index_Action_Product_AllTypes_Refresh_Changelog</index_action_product_price_refresh_changelog>
                </rewrite>
            </enterprise_catalog>
        </models>
        <resources>
            <tgc_catalog_setup>
                <setup>
                    <module>Tgc_Catalog</module>
                    <class>Tgc_Catalog_Model_Resource_Setup</class>
                </setup>
            </tgc_catalog_setup>
        </resources>
        <events>
            <tgc_catalog_product_alltypes_shell_reindex_after>
                <observers>
                    <tgc_catalog_alltypes_refresh>
                        <class>tgc_catalog/observer</class>
                        <method>processShellProductReindexEvent</method>
                    </tgc_catalog_alltypes_refresh>
                </observers>
            </tgc_catalog_product_alltypes_shell_reindex_after>
        </events>
        <request_rewrite>
            <model>tgc_catalog/url_rewrite_request</model>
        </request_rewrite>
        <index>
            <indexer>
                <tgc_catalog_product_alltypes>
                    <model>tgc_catalog/index_dummy_alltypes</model>
                    <action_model>
                        <changelog>tgc_catalog/index_action_product_allTypes_refresh_changelog</changelog>
                        <all>tgc_catalog/index_action_product_allTypes_refresh</all>
                    </action_model>
                    <index_table>tgc_catalog_product_alltypes</index_table>
                    <sort_order>5</sort_order>
                </tgc_catalog_product_alltypes>

                <!-- disable price indexer -->
                <catalog_product_price>
                    <action_model>
                        <changelog>tgc_catalog/index_action_product_price_refresh_changelog</changelog>
                        <all>tgc_catalog/index_action_product_price_refresh</all>
                    </action_model>
                </catalog_product_price>

            </indexer>
        </index>
        <catalog>
            <product>
                <url>
                    <model>tgc_catalog/product_url</model>
                </url>
            </product>
            <category>
                <url>
                    <model>tgc_catalog/category_url</model>
                </url>
            </category>
        </catalog>
    </global>
    <adminhtml>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <update_has_admin_changed>
                        <class>Tgc_Catalog_Model_Observer</class>
                        <method>updateHasAdminChanged</method>
                    </update_has_admin_changed>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_attribute_update_before>
                <observers>
                    <update_batch_save_admin_has_changed>
                        <class>Tgc_Catalog_Model_Observer</class>
                        <method>updateBatchSaveHasAdminChanged</method>
                    </update_batch_save_admin_has_changed>
                </observers>
            </catalog_product_attribute_update_before>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <tgc_catalog module="Tgc_Catalog">
                    <file>tgc_catalog.xml</file>
                </tgc_catalog>
            </updates>
        </layout>
        <routers>
            <courses>
                <use>standard</use>
                <args>
                    <module>Tgc_Catalog</module>
                    <frontName>courses</frontName>
                </args>
            </courses>
        </routers>
    </frontend>
    <default>
        <catalog>
            <product_detail_page>
                <max_words_description>100</max_words_description>
                <max_characters_description>645</max_characters_description>
            </product_detail_page>
            <seo>
                <product_url_prefix>courses</product_url_prefix>
                <category_url_prefix>category</category_url_prefix>
            </seo>
            <frontend>
                <default_sort_by>new_release</default_sort_by>
            </frontend>
        </catalog>
    </default>
    <mana_core>
        <page_types>
            <root_category>
                <helper>tgc_catalog/mana_core_pageType_rootCategory</helper>
                <seo_helper>tgc_catalog/mana_seo_pageType_rootCategory</seo_helper>
            </root_category>
        </page_types>
    </mana_core>
    <tgc_catalog>
        <url_prefix>
            <category>tgc_catalog/urlrewrite_prefixProcessor_category</category>
            <product>tgc_catalog/urlrewrite_prefixProcessor_product</product>
        </url_prefix>
    </tgc_catalog>
</config>
