<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Guidance Magento Team <magento@guidance.com>
  - Copyright (c) 2013 Guidance Solutions (http://www.guidance.com)
  -->

<config>
    <modules>
        <Tgc_Customer>
            <version>26</version>
        </Tgc_Customer>
    </modules>
    <global>
        <resources>
            <tgc_customer_setup>
                <setup>
                    <module>Tgc_Customer</module>
                    <class>Tgc_Customer_Model_Resource_Setup</class>
                </setup>
            </tgc_customer_setup>
        </resources>
        <models>
            <tgc_customer>
                <class>Tgc_Customer_Model</class>
            </tgc_customer>
            <customer>
                <rewrite>
                    <session>Tgc_Customer_Model_ActiveSession</session>
                    <resource_setup>Tgc_Customer_Model_Resource_Setup</resource_setup>
                    <address>Tgc_Customer_Model_Address</address>
                </rewrite>
            </customer>
            <core>
                <rewrite>
                    <cookie>Tgc_Customer_Model_Cookie</cookie>
                </rewrite>
            </core>
        </models>
        <helpers>
            <tgc_customer>
                <class>Tgc_Customer_Helper</class>
            </tgc_customer>
            <customer>
                <rewrite>
                    <data>Tgc_Customer_Helper_Data</data>
                </rewrite>
            </customer>
        </helpers>
        <blocks>
            <tgc_customer>
                <class>Tgc_Customer_Block</class>
            </tgc_customer>
            <adminhtml>
                <rewrite>
                    <customer_grid>Tgc_Customer_Block_Adminhtml_Customer_Grid</customer_grid>
                    <customer_edit>Tgc_Customer_Block_Adminhtml_Customer_Edit</customer_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <customer_save_before>
                <observers>
                    <tgc_customer_set_web_user_id>
                        <class>tgc_customer/observer</class>
                        <method>setWebUserIdBeforeCustomerSave</method>
                    </tgc_customer_set_web_user_id>

                    <tgc_customer_validate_username>
                        <class>tgc_customer/observer</class>
                        <method>validateUsername</method>
                    </tgc_customer_validate_username>
                </observers>
            </customer_save_before>
            <controller_front_init_before>
                <observers>
                    <tgc_customer>
                        <class>Tgc_Customer_Controller_Router</class>
                        <method>register</method>
                    </tgc_customer>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <secure_url>
            <tgc_customer_dashboard>/tgc_customer/dashboard/</tgc_customer_dashboard>
        </secure_url>
        <routers>
            <customer>
                <args>
                    <modules>
                        <tgc_customer before="Mage_Customer_AccountController">Tgc_Customer</tgc_customer>
                    </modules>
                </args>
            </customer>
            <tgc_customer>
                <use>standard</use>
                <args>
                    <module>Tgc_Customer</module>
                    <frontName>tgc_customer</frontName>
                </args>
            </tgc_customer>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <tgc_customer_validate_and_renew_active_session>
                        <type>singleton</type>
                        <class>tgc_customer/activeSession</class>
                        <method>validateActiveSession</method>
                    </tgc_customer_validate_and_renew_active_session>
                </observers>
            </controller_action_predispatch>
            <customer_login>
                <observers>
                    <tgc_customer_active_session_start>
                        <type>singleton</type>
                        <class>tgc_customer/activeSession</class>
                        <method>startActiveSession</method>
                    </tgc_customer_active_session_start>
                    <tgc_customer_manage_adcode>
                        <class>tgc_customer/observer</class>
                        <method>manageAdcode</method>
                    </tgc_customer_manage_adcode>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <tgc_customer_active_session_end>
                        <type>singleton</type>
                        <class>tgc_customer/activeSession</class>
                        <method>endActiveSession</method>
                    </tgc_customer_active_session_end>
                </observers>
            </customer_logout>
            <http_response_send_before>
                <observers>
                    <add_active_session_login_js>
                        <type>singleton</type>
                        <class>tgc_customer/observer</class>
                        <method>addActiveSessionLoginJs</method>
                    </add_active_session_login_js>
                </observers>
            </http_response_send_before>
        </events>
        <layout>
            <updates>
                <tgc_customer>
                    <file>tgc_customer.xml</file>
                </tgc_customer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tgc_customer before="Mage_Adminhtml">Tgc_Customer_Adminhtml</tgc_customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <customer_save_before>
                <observers>
                    <tgc_customer_validate_web_user_id>
                        <class>tgc_customer/observer</class>
                        <method>validateWebUserId</method>
                    </tgc_customer_validate_web_user_id>
                </observers>
            </customer_save_before>
        </events>
        <layout>
            <updates>
                <tgc_customer>
                    <file>tgc_customer.xml</file>
                </tgc_customer>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <web>
            <cookie>
                <cookie_lifetime>5184000</cookie_lifetime>
                <active_session_lifetime>600</active_session_lifetime>
            </cookie>
        </web>
        <dax>
            <api>
                <wsdl>http://ttcdax01:8090/orders.asmx?wsdl</wsdl>
            </api>
        </dax>
    </default>
</config>
