<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Customer
 *
 * @author      Guidance Magento Team <magento@guidance.com>
 * @category    Tgc
 * @package     Customer
 * @copyright   Copyright (c) 2014 Guidance Solutions (http://www.guidance.com)
 */
-->
<config>
    <sections>
        <web>
            <groups>
                <cookie>
                    <fields>
                        <cookie_lifetime translate="label" module="tgc_customer">
                            <label>Unauthenticated Session Lifetime</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cookie_lifetime>
                        <active_session_lifetime translate="label" module="tgc_customer">
                            <label>Active Session Lifetime</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_session_lifetime>
                    </fields>
                </cookie>
            </groups>
        </web>
        <dax>
            <groups>
                <api translate="label">
                    <label>Order History/Shipping Tracking API Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <wsdl translate="label comment">
                            <label>Web Service WSDL URL</label>
                            <comment>Order History Web Service WSDL URL</comment>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wsdl>
                        <username translate="label">
                            <label>API user name</label>
                            <sort_order>20</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <sort_order>30</sort_order>
                            <frontend_type>password</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </api>
            </groups>
        </dax>
    </sections>
</config>
