<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
    <modules>
        <Tgc_Podcast>
            <version>13</version>
        </Tgc_Podcast>
    </modules>
    <global>
        <resources>
            <tgc_podcast_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <setup>
                    <module>Tgc_Podcast</module>
                </setup>
            </tgc_podcast_setup>
            <tgc_podcast_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tgc_podcast_read>
            <tgc_podcast_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tgc_podcast_write>
        </resources>
        <helpers>
            <tgc_podcast>
                <class>Tgc_Podcast_Helper</class>
            </tgc_podcast>
        </helpers>
        <blocks>
            <tgc_podcast>
                <class>Tgc_Podcast_Block</class>
            </tgc_podcast>
            <podcast>
                <rewrite>
                    <adminhtml_podcast_edit_tab_form>Tgc_Podcast_Block_Adminhtml_Podcast_Edit_Tab_Form</adminhtml_podcast_edit_tab_form>
                    <adminhtml_podcast_grid>Tgc_Podcast_Block_Adminhtml_Podcast_Grid</adminhtml_podcast_grid>
                    <adminhtml_podcast>Tgc_Podcast_Block_Adminhtml_Podcast</adminhtml_podcast>
                </rewrite>
            </podcast>
        </blocks>
        <models>
            <tgc_podcast>
                <class>Tgc_Podcast_Model</class>
                <resourceModel>tgc_podcast_resource</resourceModel>
            </tgc_podcast>
            <tgc_podcast_resource>
                <class>Tgc_Podcast_Model_Resource</class>
                <entities>
                    <podcast_product>
                        <table>rw_podcast_product</table>
                    </podcast_product>
                </entities>
            </tgc_podcast_resource>
            <podcast_resource>
                <rewrite>
                    <podcast>Tgc_Podcast_Model_Resource_Podcast</podcast>
                </rewrite>
            </podcast_resource>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <podcast>
                    <file>tgc_podcast.xml</file>
                </podcast>
            </updates>
        </layout>
        <routers>
            <podcasts>
                <args>
                    <modules>
                        <tgc_podcast before="RocketWeb_Podcast">Tgc_Podcast</tgc_podcast>
                    </modules>
                </args>
            </podcasts>
        </routers>
    </frontend>
    <admin>
        <routers>
            <podcasts_admin>
                <args>
                    <modules>
                        <tgc_podcast before="RocketWeb_Podcast">Tgc_Podcast</tgc_podcast>
                    </modules>
                </args>
            </podcasts_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <podcast>
                    <file>tgc_podcast.xml</file>
                </podcast>
            </updates>
        </layout>
    </adminhtml>
</config>
