<?xml version="1.0"?>
<!-- Rename this file to export_data.own.xml and add your custom export classes here. These will be used to fetch data and make them available in the export. For sample classes check export_data.xml -->
<config>
    <data>
        <xyz>
            <class>xtento_productexport/export_data_custom_xyz</class>
        </xyz>
    </data>
</config>
<!--
/**
 * Product:       Xtento_ProductExport (1.2.10)
 * ID:            3WBIjQCn8HF0ygiBVtNwYZ72yG3r/EJw/pL2BiMF/UA=
 * Packaged:      2014-04-03T06:13:01+00:00
 * Last Modified: 2013-02-10T18:06:04+01:00
 * File:          app/code/local/Xtento/ProductExport/etc/xtento/export_data.own.xml.sample
 * Copyright:     Copyright (c) 2014 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->