<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Checkout
 *
 * @author      Guidance Magento Team <magento@guidance.com>
 * @category    Tgc
 * @package     Checkout
 * @copyright   Copyright (c) 2014 Guidance Solutions (http://www.guidance.com)
 */
  -->
<config>
    <modules>
        <Tgc_Checkout>
            <version>2</version>
        </Tgc_Checkout>
    </modules>
    <global>
        <resources>
            <tgc_checkout_setup>
                <setup>
                    <module>Tgc_Checkout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tgc_checkout_setup>
            <tgc_checkout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tgc_checkout_write>
            <tgc_checkout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tgc_checkout_read>
        </resources>
        <blocks>
            <tgc_checkout>
                <class>Tgc_Checkout_Block</class>
            </tgc_checkout>
        </blocks>
        <models>
            <tgc_checkout>
                <class>Tgc_Checkout_Model</class>
                <resourceModel>tgc_checkout_resource</resourceModel>
            </tgc_checkout>
            <tgc_checkout_resource>
                <class>Tgc_Checkout_Model_Resource</class>
                <entities>
                    <cart_migrate>
                        <table>tgc_checkout_cart_migrate</table>
                    </cart_migrate>
                </entities>
            </tgc_checkout_resource>
            <checkout>
                <rewrite>
                    <cart>Tgc_Checkout_Model_Cart</cart>
                    <type_onepage>Tgc_Checkout_Model_Type_Onepage</type_onepage>
                    <session>Tgc_Checkout_Model_Session</session>
                </rewrite>
            </checkout>
        </models>
        <helpers>
            <tgc_checkout>
                <class>Tgc_Checkout_Helper</class>
            </tgc_checkout>
        </helpers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <change_isprospect_tofalse>
                        <class>Tgc_Checkout_Model_Observer</class>
                        <method>changeIsProspectToFalse</method>
                    </change_isprospect_tofalse>
                </observers>
            </checkout_submit_all_after>
            <checkout_quote_migrate>
                <observers>
                    <migrate_cart_data>
                        <class>Tgc_Checkout_Model_Observer</class>
                        <method>migrateCartData</method>
                    </migrate_cart_data>
                </observers>
            </checkout_quote_migrate>
        </events>
        <rewrite>
            <tgc_checkout_cart>
                <from><![CDATA[#^/checkout/cart^#]]></from>
                <to>/tgc_checkout/cart/</to>
            </tgc_checkout_cart>
        </rewrite>
    </global>
    <frontend>
        <events>
            <controller_action_layout_render_before_customer_account_create>
                <observers>
                    <pass_data_from_checkoutform_to_customerform>
                        <class>Tgc_Checkout_Model_Observer</class>
                        <method>passDataFromCheckoutformToCustomerform</method>
                    </pass_data_from_checkoutform_to_customerform>
                </observers>
            </controller_action_layout_render_before_customer_account_create>
            <load_customer_quote_before>
                <observers>
                    <handle_login_cart_merge>
                        <class>Tgc_Checkout_Model_Observer</class>
                        <method>handleLoginCartMerge</method>
                    </handle_login_cart_merge>
                </observers>
            </load_customer_quote_before>
            <customer_login>
                <observers>
                    <tgc_checkout_customer_login>
                        <class>Tgc_Checkout_Model_Observer</class>
                        <method>handleCustomerLogin</method>
                    </tgc_checkout_customer_login>
                </observers>
            </customer_login>
        </events>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <tgc_checkout before="Mage_Checkout_OnepageController">Tgc_Checkout</tgc_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>
