<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Tgc_Zmag>
            <version>0.0.3</version>
        </Tgc_Zmag>
    </modules>
    <global>
        <models>
            <tgc_zmag>
                <class>Tgc_Zmag_Model</class>
                <resourceModel>tgc_zmag_resource</resourceModel>
            </tgc_zmag>
            <tgc_zmag_resource>
                <class>Tgc_Zmag_Model_Resource</class>
                <entities>
                    <zmag>
                        <table>tgc_zmag</table>
                    </zmag>
                </entities>
            </tgc_zmag_resource>
        </models>
        <blocks>
            <tgc_zmag>
                <class>Tgc_Zmag_Block</class>
            </tgc_zmag>
        </blocks>
        <helpers>
            <tgc_zmag>
                <class>Tgc_Zmag_Helper</class>
            </tgc_zmag>
        </helpers>
        <resources>
            <tgc_zmag_setup>
                <setup>
                    <module>Tgc_Zmag</module>
                </setup>
            </tgc_zmag_setup>
        </resources>
        <rewrite>
            <tgc_zmag_dcatalog_index>
                <from><![CDATA[#^/digitalcatalog/#]]></from>
                <to>/zmag/dcatalog/index</to>
            </tgc_zmag_dcatalog_index>
        </rewrite>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tgc_zmag before="Mage_Adminhtml">Tgc_Zmag_Adminhtml</tgc_zmag>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tgc_zmag>
                    <file>tgc_zmag.xml</file>
                </tgc_zmag>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <tgc_zmag>
                    <file>tgc_zmag.xml</file>
                </tgc_zmag>
            </updates>
        </layout>
        <routers>
            <tgc_zmag>
                <use>standard</use>
                <args>
                    <module>Tgc_Zmag</module>
                    <frontName>zmag</frontName>
                </args>
            </tgc_zmag>
        </routers>
    </frontend>
</config>