<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
    <modules>
        <RocketWeb_Podcast>
            <version>0.2.6</version>
        </RocketWeb_Podcast>
    </modules>
    <default>
        <rocketweb_podcast>
            <settings>
                <layout>page/2columns-left.phtml</layout>
            </settings>
        </rocketweb_podcast>
    </default>
    <global>
        <models>
            <podcast>
                <class>RocketWeb_Podcast_Model</class>
                <resourceModel>podcast_resource</resourceModel>
            </podcast>
            <podcast_resource>
                <class>RocketWeb_Podcast_Model_Resource</class>
                <deprecatedNode>podcast_mysql4</deprecatedNode>
                <entities>
                    <podcast>
                        <table>rw_podcast</table>
                    </podcast>
                    <store>
                        <table>rw_podcast_store</table>
                    </store>
                </entities>
            </podcast_resource>
        </models>
        <resources>
            <podcast_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <setup>
                    <module>RocketWeb_Podcast</module>
                </setup>
            </podcast_setup>
            <podcast_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </podcast_read>
            <podcast_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </podcast_write>
        </resources>       
        <blocks>
            <podcast>
                <class>RocketWeb_Podcast_Block</class>
            </podcast>
        </blocks>
        <helpers>
            <podcast>
                <class>RocketWeb_Podcast_Helper</class>
            </podcast>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <podcast>
                        <type>singleton</type>
                        <class>RocketWeb_Podcast_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </podcast>
                </observers>
            </controller_front_init_routers>
            <http_response_send_before>
                <observers>
                    <modifyheader>
                        <type>disabled</type>
                    </modifyheader>
                </observers>
            </http_response_send_before>
        </events>
    </global>
    <admin>
        <routers>
            <podcasts_admin>
                <use>admin</use>
                    <args>
                        <module>RocketWeb_Podcast</module>
                        <frontName>podcasts_admin</frontName>
                    </args>
            </podcasts_admin>
        </routers>
    </admin>

    <frontend>
        <routers>
            <podcasts>
                <use>standard</use>
                <args>
                    <module>RocketWeb_Podcast</module>
                    <frontName>podcasts</frontName>
                </args>
            </podcasts>
        </routers>                
        <layout>
            <updates>
                <podcast>
                    <file>rocketweb_podcast.xml</file>
                </podcast>
            </updates>
        </layout> 
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <podcast>
                    <file>rocketweb_podcast.xml</file>
                </podcast>
            </updates>
        </layout>
    </adminhtml>
</config>
