<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <rocketweb_tab translate="label" module="podcast">
            <label>Rocket Web Extensions</label>
            <sort_order>1005001</sort_order>
        </rocketweb_tab>
    </tabs>
    <sections>
        <rocketweb_podcast translate="label" module="podcast">
            <label>Podcast</label>
            <tab>rocketweb_tab</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <page_title translate="label">
                            <label>Podcast page title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </page_title>
                        <subtitle translate="label">
                            <label>Podcast subtitle</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </subtitle>
                        <route translate="label">
                            <label>Route to Podcast</label>
                            <comment>eg. "podcast" will make the podcast accessible from domain.com/news. Must not contain any slashes. Blank for default ("podcasts").</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </route>
                        <category translate="label">
                            <label>Category</label>
                            <frontend_type>select</frontend_type>
                            <source_model>podcast/Category</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category>
                        <explicit translate="label">
                            <label>Content Explicit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>podcast/Explicit</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </explicit>
                        <layout translate="label">
                            <label>Page Layout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>podcast/Layouts</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </layout>
                        <page_description translate="label">
                            <label>Podcast page description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </page_description>
                        <generator translate="label">
                            <label>Podcast generator</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </generator>
                        <copyright translate="label">
                            <label>Podcast copyright</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </copyright>
                        <summary translate="label">
                            <label>Podcast summary</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </summary>
                        <author_name translate="label">
                            <label>Podcast author name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </author_name>
                        <author_email translate="label">
                            <label>Podcast author email</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-email</validate>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </author_email>
                    </fields>
                </settings>
                <image translate="label">
                    <label>Channel image</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <image>
                            <label>Image</label>
                            <comment>should be square up to 1400x1400</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">RocketWeb/Podcasts/Channel</upload_dir>
                            <base_url type="media" scope_info="1">RocketWeb/Podcasts/Channel</base_url>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image>
                    </fields>
                </image>
            </groups>
        </rocketweb_podcast>
    </sections>
</config>