<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Dax integration
 *
 * @author      Guidance Magento Team <magento@guidance.com>
 * @category    Tgc
 * @package     Dax
 * @copyright   Copyright (c) 2014 Guidance Solutions (http://www.guidance.com)
 */
-->
<config>
    <tabs>
        <dax_settings translate="label" module="tgc_dax">
            <label>DAX Integration</label>
            <sort_order>5150</sort_order>
        </dax_settings>
    </tabs>
    <sections>
        <dax translate="label" module="tgc_dax">
            <label>DAX Settings</label>
            <tab>dax_settings</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <order_export translate="label">
                    <label>Order Export</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cron_expression translate="label">
                            <label>Cron Schedule</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>tgc_dax/source_system_config_backend_cronExpression</backend_model>
                            <validate>validate-cron-expression</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_expression>
                        <debug_enabled translate="label">
                            <label>Test mode enabled</label>
                            <comment><![CDATA[This will allow the feed to be tested here: <br /><a href="/daxTest/adminhtml_order/export" target="_blank">/daxTest/adminhtml_order/export</a>]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_enabled>
                        <warning_enabled translate="label">
                            <label>Enabled Threshold Email Warning</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </warning_enabled>
                        <export_threshold translate="label">
                            <label>Order Export Threshold</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <comment><![CDATA[Based on cron schedule above, when total un-exported orders exceeds this number, a warning will be issued.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_threshold>
                        <acknowledge_threshold translate="label">
                            <label>DAX Acknowledgement Threshold</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <comment><![CDATA[Based on cron schedule above, when total orders not acknowledged by DAX exceeds this number, a warning will be issued.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </acknowledge_threshold>
                        <identity translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </identity>
                        <template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <send_to translate="label comment">
                            <label>Send Warning Email To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </send_to>
                    </fields>
                </order_export>
                <sftp translate="label">
                    <label>SFTP Settings for DAX Order Export</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <hostname translate="label">
                            <label>SFTP Hostname</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>tgc_dax/source_system_config_backend_hostName</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hostname>
                        <port translate="label comment">
                            <label>SFTP Port</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>tgc_dax/source_system_config_backend_port</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                        </port>
                        <username translate="label">
                            <label>SFTP Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </username>
                        <password translate="label">
                            <label>SFTP Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <timeout translate="label">
                            <label>Timeout value for connection</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                        </timeout>
                        <remote_path translate="label">
                            <label>Remote Path</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>tgc_dax/source_system_config_backend_remotePath</backend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </remote_path>
                    </fields>
                </sftp>
            </groups>
        </dax>
    </sections>
</config>
