<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * ProductGallery
 *
 * @author      Guidance Magento Team <magento@guidance.com>
 * @category    Tgc
 * @package     ProductGallery
 * @copyright   Copyright (c) 2013 Guidance Solutions (http://www.guidance.com)
 */
-->
<config>
    <sections>
        <catalog>
            <groups>
                <product_brightcove_video translate="label" module="tgc_productgallery">
                    <label>Product Brightcove Video</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <player_lib_url translate="label" module="tgc_productgallery">
                            <label>Player JavaScript Library URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </player_lib_url>
                        <player_id translate="label" module="tgc_productgallery">
                            <label>Player ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </player_id>
                        <player_key translate="label" module="tgc_productgallery">
                            <label>Player Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </player_key>
                    </fields>
                </product_brightcove_video>
            </groups>
        </catalog>
    </sections>
</config>
