<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Guidance Magento Team <magento@guidance.com>
  - Copyright (c) 2014 Guidance Solutions (http://www.guidance.com)
  -->

<config>
   <sections>
        <mapi translate="label" module="mapi">
            <label>Mobile REST API</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                 <banner translate="label">
                    <label>Login Banner Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <id translate="label">
                            <label>ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </id>
                        <image_url translate="label">
                            <label>Image URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </image_url>
                        <caption translate="label comment">
                            <label>Caption</label>
                            <comment>{{email}} template is available.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </caption>
                        <link_url translate="label">
                            <label>Link URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </link_url>
                    </fields>
                </banner>
            </groups>
        </mapi>
    </sections>
</config>
