<?xml version="1.0"?>
<!-- 
/**
 * @category   Tgc
 * @package    Tgc_Events
 * @author     Guidance Solutions
 * @copyright   Copyright (c) 2013 Guidance Solutions (http://www.guidance.com)
 */
 -->
<config>
    <modules>
        <Tgc_Events>
            <version>11</version>
        </Tgc_Events>
    </modules>
    <global>
        <resources>
            <tgc_events_setup>
                <setup>
                    <module>Tgc_Events</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tgc_events_setup>
            <tgc_events_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tgc_events_write>
            <tgc_events_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tgc_events_read>
        </resources>
        <blocks>
            <tgc_events>
                <class>Tgc_Events_Block</class>
            </tgc_events>
            <events>
                <rewrite>
                    <adminhtml_events_edit_tab_form>Tgc_Events_Block_Adminhtml_Events_Edit_Tab_Form</adminhtml_events_edit_tab_form>
                    <adminthml_events_grid>Tgc_Events_Block_Adminhtml_Events_Grid</adminthml_events_grid>
                    <adminhtml_events>Tgc_Events_Block_Adminhtml_Events</adminhtml_events>
                </rewrite>
            </events>
        </blocks>
        <helpers>
            <tgc_events>
                <class>Tgc_Events_Helper</class>
            </tgc_events>
        </helpers>
        <models>
            <tgc_events>
                <class>Tgc_Events_Model</class>
                <resourceModel>tgc_events_resource</resourceModel>
            </tgc_events>
            <events>
                <rewrite>
                    <events>Tgc_Events_Model_Events</events>
                </rewrite>
            </events>
            <events_mysql4>
                <rewrite>
                    <events>Tgc_Events_Model_Mysql4_Events</events>
                </rewrite>
            </events_mysql4>
            <tgc_events_resource>
                <class>Tgc_Events_Model_Resource</class>
                <entities>
                    <locations>
                        <table>events_locations</table>
                    </locations>
                    <types>
                        <table>events_types</table>
                    </types>
                    <professors>
                        <table>events_professors</table>
                    </professors>
                </entities>
            </tgc_events_resource>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <events><!-- Overriding <events> node in Events config.xml -->
                        <type>singleton</type>
                        <class>Tgc_Events_Controller_Router</class>
                        <method>initProtocol</method>
                    </events>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <events>
                    <file>tgc_events.xml</file>
                </events>
            </updates>
        </layout>
        <routers>
            <events>
                <args>
                    <modules>
                        <tgc_events before="FME_Events">Tgc_Events</tgc_events>
                    </modules>
                </args>
            </events>
        </routers>
    </frontend>
    <admin>
        <routers>
            <eventsadmin>
                <args>
                    <modules>
                        <tgc_events before="FME_Events">Tgc_Events</tgc_events>
                    </modules>
                </args>
            </eventsadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tgc_events>
                    <file>tgc_events.xml</file>
                </tgc_events>
            </updates>
        </layout>
    </adminhtml>
</config>
