/**
 * Common styles
 */



/* Common styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Sizes
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-top,
.header .dropdown { line-height:3em; } /* line-height:36px; */


/* Blocks
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/**/
.sidebar .block:first-child { margin-top:6px; } /* To align with page title */
.cms-index-index .sidebar .block:first-child { margin-top:0; } /* Remove margin on home page */


/* Headings
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Secondary headings
-------------------------------------------------------------- */

/* Forms headings */
.fieldset .legend,

/* Log in */
.account-login h2,

/* Checkout log in */
#opc-login h3,

/* Multiple checkout */
.multiple-checkout .col2-set h2.legend,
.info-set h2.legend
{
	font-size:1.5em; /*18px*/
	font-weight:normal;
	text-transform:uppercase;
}

/* Account */
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2 {}

/* Headings with bottom border */
.account-login h2,
#opc-login h3 { border-bottom:1px solid #e5e5e5; padding-bottom:5px; }


/* Section headings
-------------------------------------------------------------- */

/* Sidebar blocks */
.block .block-title,

/* Section title */
.section-title,

/* Cart */
.cart .crosssell h2,
.cart .discount h2,
.cart .shipping h2
{
	/* padding:13px 0 7px; */ /*TODO*/
	padding-top:7px;
	padding-bottom:7px;
	border-bottom:1px solid #e5e5e5;
	font-weight:normal;
	font-size:1.5em; /*18px*/
	line-height:1.2222em; /*22px*/
}

/* Account headings
-------------------------------------------------------------- */

/* Primary */
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2 {}

/* Secondary */
.dashboard .box .box-title h3,
.dashboard .box .box-title h4,
.order-info-box h2 {}



/* Colors %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Borders
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Elements with horizontal border - normal
-------------------------------------------------------------- */
/* CMS */
.section-line,

/* Page title */
.my-account .page-title,
.category-title,

/* Misc */
.toolbar
{ border-color:#e5e5e5; }

/* Elements with horizontal border - lighter
-------------------------------------------------------------- */
/* Product page - Add-to-cart area */
.product-view .product-type-data .price-box,
.container1-wrapper,
.container2-wrapper,
.product-view .add-to-box,

/* Product grid/list */
.category-products-grid .item,
.products-list li.item,

/* Pop-ups */
.remember-me-popup h3,
.map-popup-heading
{
	border-color:#f5f5f5;
}

/* Elements with vertical border - normal
-------------------------------------------------------------- */
/* Product page */
.custom-sidebar-right .inner,
.custom-sidebar-left .inner,
{
	border-color:#e5e5e5;
}

/* Elements with vertical border - lighter
-------------------------------------------------------------- */
/* Product grid/list */
.products-list .product-shop-inner
{
	border-color:#f5f5f5;
}

/* Elements with darker border
-------------------------------------------------------------- */
/* Cart */
.data-table thead,
.cart-table thead tr,

/* Availability */
.availability-only-details thead
{
	border-color:#e5e5e5; /*Currently the same color as other borders*/
}


/* Background colors
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Elements with light gray background
-------------------------------------------------------------- */
/* Product page - increaments */
.extrahint-wrapper .product-pricing,

/* Account */
.addresses-list .addresses-primary .item,
.order-info-box,

/* Advanced search */
.advanced-search-summary,

/* Checkout */
.opc .gift-messages-form
{
	background-color:#f5f5f5;
}

/* Interface elements (like buttons or special links) with background color
-------------------------------------------------------------- */
/*.btn-remove,
.btn-remove2,
.btn-edit,
.tool-tip .btn-close a {}*/


/* Colors
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Elements with lighter text
-------------------------------------------------------------- */
/* Forms */
.form-list label,

/* Product grid/list */
.products-list .ratings,
.products-grid .ratings,
.products-list .ratings a,
.products-grid .ratings a,

/* Breadcrumbs */
.breadcrumbs li,
.breadcrumbs a,

/* Layered nav */
.block-layered-nav dd li,

/* Product page */
.block-related-simple .related-add-to-wishlist,
.block-related-thumbnails .related-add-to-wishlist,

/* Availability */
.availability,

/* Reviews */
.product-view .box-reviews dd .date,

/* Product options */
.item-options dd,
.product-options p.note,

/* Prices */
.price-notice .price,
.tier-prices li,

/* MSRP price and old price */
.old-price,
.map-popup-msrp .price
{
	color:#aaa;
}

/* Breadcrumbs */
.breadcrumbs li,
.breadcrumbs a
{
	color:#c5c5c5;
}


/* Selected interface icons:
   text color icons on hover: toolbar icons, pager, prev/next slide etc.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Hover item color */
/* Toolbar */
.sorter .view-mode a:hover,
.sorter .sort-by .category-asc:hover,
.sorter .sort-by .category-desc:hover,
.pager .pages li a:hover,

/* Add-to links */
.add-to-links.addto-icons a:hover,

/* Slider arrows */
.gen-slider-arrows1 .direction-nav a:hover,
.gen-slider-arrows2 .direction-nav a:hover,
.gen-slider-arrows3 .direction-nav a:hover,

/* Lightbox */
#cboxPrevious:hover,
#cboxNext:hover,
#cboxClose:hover,

/* Scroll to top button */
#scroll-to-top:hover
{
	color:#fff; /*Color of text*/
}


/* Effects %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Shadows: for pop-ups, drop-downs etc.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* IE version included */
#nav .level0-wrapper,
#nav.classic .parent > ul,

/* Mini cart */
#mini-cart .block-content,
.truncated .truncated_full_value .item-options,

/* Compare drop-down */
.header .block-compare .block-content,

/* Search autocomplete */
.header .form-search .search-autocomplete ul,

/* Dropdown */
.dropdown-menu,

/* Pop-ups and tooltips */
.remember-me-popup,
.map-popup,
.tool-tip,
#subscribe-form .input-box .validation-advice
{
	-moz-box-shadow:0 2px 10px rgba(0,0,0, 0.15);
	-webkit-box-shadow:0 2px 10px rgba(0,0,0, 0.15);
	box-shadow:0 2px 10px rgba(0,0,0, 0.15);
}


/* Transitions
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Product image (and other elements)
-------------------------------------------------------------- */
.product-image img {
	transition:			opacity 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out;
}
.product-image img:hover { opacity:0.85; filter:alpha(opacity=85); }

	/* Remove this transition in product grid. Raplace it with "on item hover" transition. TODO: check */
	.products-grid .product-image img:hover { opacity:1; }

	/* .products-grid .item:hover .product-image img { opacity:0.85; } */

/* Links and other selected elements
-------------------------------------------------------------- */
/* IMPORTANT: link transitions should be placed before other transitions */
a,
#mobnav-trigger .trigger-icon .line,
.accordion .opener
{
	transition:			color 450ms ease-in-out, background-color 450ms ease-in-out;
	-moz-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-webkit-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-o-transition:		color 450ms ease-in-out, background-color 450ms ease-in-out;
}
a:hover,
#mobnav-trigger:hover .trigger-icon .line,
.accordion .opener:hover
{
	transition-duration:			100ms;
	-moz-transition-duration:		100ms;
	-webkit-transition-duration:	100ms;
	-o-transition-duration:			100ms;
}

/* Interface icons: toolbar icons, pager, prev/next slide etc.
-------------------------------------------------------------- */
.sorter .view-mode .grid,
.sorter .view-mode .list,
.sorter .sort-by .category-asc,
.sorter .sort-by .category-desc,

/* Back link */
.buttons-set .back-link small,

/* Add-to links */
.add-to-links.addto-icons a
{
	transition:			background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

/* Accordions, tabs & other components
-------------------------------------------------------------- */
.gen-tabs .tabs a,
.gen-tabs .acctab,

/* OPC accordion */
.opc .step-title
{
	transition:			color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

/* Elements with animated color and borders
-------------------------------------------------------------- */
/* Forms */
input.input-text, select, textarea,
.product-options ul.options-list,

/* Product image thumbnails */
.product-view .product-img-box .more-views .thumbnails li a,

/* Product mini-lists */
.mini-products-list .product-image,
.cart .crosssell .product-image
{
	transition:			color 300ms ease-in-out, border-color 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, border-color 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, border-color 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, border-color 300ms ease-in-out;
}

/* Structural elements
-------------------------------------------------------------- */
/* Layered nav */
.block-layered-nav dd li,

/* Grid */
.grid12-1,
.grid12-2,
.grid12-3,
.grid12-4,
.grid12-5,
.grid12-6,
.grid12-7,
.grid12-8,
.grid12-9,
.grid12-10,
.grid12-11,
.grid12-12,
.grid-full,
.grid-col2-sidebar,
.grid-col2-main,

/* Products */
.product-view .product-img-box,

/* Menu */
#nav > li
{
	transition:			all 300ms ease-in-out;
	-moz-transition:	all 300ms ease-in-out;
	-webkit-transition:	all 300ms ease-in-out;
	-o-transition:		all 300ms ease-in-out;
}


/* Shadow for the main containers
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.shadow .show-bg {
	-moz-box-shadow:	0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:	0 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow:			0 2px 3px rgba(0, 0, 0, 0.1);
}



