/**
 * Social icons
 */



/* Contact icons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* TODO: */

/* Phone */
.icon.i-phone {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-7px -7px;
}
.icon.i-phone-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-7px -57px;
}

/* Mobile */
.icon.i-mobile {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-57px -7px;
}
.icon.i-mobile-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-57px -57px;
}

/* Letter */
.icon.i-letter {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-107px -7px;
}
.icon.i-letter-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-107px -57px;
}


/* Row 2
-------------------------------------------------------------- */
/* Twitter */
.icon.i-twitter {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-7px -107px;
}
.icon.i-twitter-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-7px -157px;
}

/* Facebook */
.icon.i-facebook {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-57px -107px;
}
.icon.i-facebook-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-57px -157px;
}

/* Google plus */
.icon.i-googleplus {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-107px -107px;
}
.icon.i-googleplus-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-107px -157px;
}

/* Youtube */
.icon.i-youtube {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-157px -107px;
}
.icon.i-youtube-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-157px -157px;
}

/* Vimeo */
.icon.i-vimeo {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-207px -107px;
}
.icon.i-vimeo-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-207px -157px;
}

/* Wordpress */
.icon.i-wordpress {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-257px -107px;
}
.icon.i-wordpress-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-257px -157px;
}

/* Pinterest */
.icon.i-pinterest {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-307px -107px;
}
.icon.i-pinterest-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-307px -157px;
}

/* linked in */
.icon.i-linkedin {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-357px -107px;
}
.icon.i-linkedin-w {
	background-image:url(../images/sprite-icons-social.png);
	background-position:-357px -157px;
}
