/**
 * Theme-specific styles
 */



/* Misc %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Nav container: stretched or with side padding
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Add top margin for nav element, the same value as left and right margin of the grid unit,
   and remove margin if stretched */
.nav > .grid-full { float:left; margin-top:1%; }
.nav.stretched > .grid-full { margin-top:0; }


/* Cart
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Collateral boxes - stretch */
.cart-left-column .grid-full,
.cart-right-column .grid-full { width:100%; }



/* Interface icons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Icons with no background
-------------------------------------------------------------- */
/* Toolbar */
.sorter .view-mode a,
.sorter .sort-by .category-asc,
.sorter .sort-by .category-desc,
.pager .pages li a,

/* Add-to links */
.add-to-links.addto-icons a,

/* Slider arrows */
.gen-slider-arrows3 .direction-nav a,
.gen-slider-arrows3 .direction-nav a.disabled:hover
{
	background-color:transparent;
}

/* Other icons
-------------------------------------------------------------- */
/* Pager */
.pager .pages li a { background-color:#f5f5f5; }

/* Add-to links */
.add-to-links.addto-icons a,

/* Slideshow directional arrows */
.gen-slider-arrows2 .direction-nav a,
.gen-slider-arrows2 .direction-nav a.disabled:hover { background-color:#fff; }



/* Built-in static blocks %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Header top - help block */
.header-top .phone {
	background:url(../images/img/ic-phone.png) 0 center no-repeat;
	padding:0 0 0 24px;
}

/* Category page */
.block_category_above_collection { margin:10px 0; }
.block_category_below_collection { margin:10px 0; }
.block_category_above_empty_collection { margin:10px 0; }

/* Product page */
	
	/* Main blocks */
	.block_product_primary_bottom {}
	.block_product_secondary_bottom {}

	/* Static blocks replacing related and up-sell products */
	.block_product_replace_related {}
	.block_product_replace_related {}
	
/* Cart */
.block_cart_below_totals {}
.block_cart_below_table {}

/* Mini cart */
.block_mini_cart_above_products { margin:0 0 10px; }

/* OPC */
.block_opc_below_progress { margin:15px 0; }

/* CMS pages */
.block_cms_page_top { margin:0 0 15px; }

/* Header */
.block_header_top_left {}
.block_header_top_left2 {}
.block_header_top_right {}
.block_header_top_right2 {}

/* Footer */
.block_footer_primary_bottom_left {}
.block_footer_primary_bottom_right {}
.block_footer_payment { margin-right:10px; margin-bottom:10px; margin-left:20px; }

/* Sample block content
-------------------------------------------------------------- */
.sample-block {
	border:2px dotted #ddd;
	color:#999;
	margin-top:10px;
	padding:10px;
}
.sample-block:hover {
	color:#555;
}



/* HD-ready (retina-ready) %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5)
{

	/* Rating */
	/*.rating-box,
	.rating-box .rating { background-image:url(../images/img/rating@x2.png); background-size:14px 43px; }*/
	
	/* Theme icons
	-------------------------------------------------------------- */
	/* To top */
	#scroll-to-top,
	
	/* Search button */
	.header .form-search .button span,
	
	/* All icons from icons-theme.css */
	/* Row 1: */
	.icon.i-wishlist,
	.icon.i-wishlist-w,
	.icon.i-wishlist-bw,
	.icon.i-wishlist-wb,
	
	.icon.i-compare,
	.icon.i-compare-w,
	.icon.i-compare-bw,
	.icon.i-compare-wb,
	
	.icon.i-recommend,
	.icon.i-recommend-w,
	.icon.i-recommend-bw,
	.icon.i-recommend-wb,
	
	.icon.i-lowstock,
	.icon.i-lowstock-w,
	.icon.i-lowstock-bw,
	.icon.i-lowstock-wb,
	
	.icon.i-cart,
	.icon.i-cart-w,
	
	/* Row 2: */
	.icon.i-home,
	.icon.i-home-w,
	.icon.i-home-bw,
	.icon.i-home-wb,
	
	.icon.i-left,
	.icon.i-left-w,
	.icon.i-left-bw,
	.icon.i-left-wb,
	
	.icon.i-right,
	.icon.i-right-w,
	.icon.i-right-bw,
	.icon.i-right-wb,
	
	.icon.i-top,
	.icon.i-top-w,
	.icon.i-top-bw,
	.icon.i-top-wb,
	
	.icon.i-bottom,
	.icon.i-bottom-w,
	.icon.i-bottom-bw,
	.icon.i-bottom-wb /* Last selector without trailing coma */
	
	{ background-image:url(../images/sprite@x2.png); background-size:500px 200px; }
	
	
	/* All icons from icons-social.css
	-------------------------------------------------------------- */
	/* Row 2: */
	.icon.i-twitter,
	.icon.i-twitter-w,
	
	.icon.i-facebook,
	.icon.i-facebook-w,
	
	.icon.i-googleplus,
	.icon.i-googleplus-w,
	
	.icon.i-youtube,
	.icon.i-youtube-w,
	
	.icon.i-vimeo,
	.icon.i-vimeo-w,
	
	.icon.i-wordpress,
	.icon.i-wordpress-w,
	
	.icon.i-pinterest,
	.icon.i-pinterest-w,
		
	.icon.i-linkedin,
	.icon.i-linkedin-w /* Last selector without trailing coma */
	
	{ background-image:url(../images/sprite-icons-social@x2.png); background-size:500px 200px; }

} /* end: media query */
