<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Guidance Magento Team <magento@guidance.com>
  - Copyright (c) 2013 Guidance Solutions (http://www.guidance.com)
  -->

<config>
    <modules>
        <Guidance_Setup>
            <version>1.0.0</version>
        </Guidance_Setup>
    </modules>
</config>
