<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Tgc_Adcoderouter>
            <version>15</version>
        </Tgc_Adcoderouter>
    </modules>
    <global>
        <blocks>
            <adcoderouter>
                <class>Tgc_Adcoderouter_Block</class>
            </adcoderouter>
        </blocks>
        <models>
            <adcoderouter>
                <class>Tgc_Adcoderouter_Model</class>
                <resourceModel>adcoderouter_resource</resourceModel>
            </adcoderouter>
            <adcoderouter_resource>
                <class>Tgc_Adcoderouter_Model_Resource</class>
                <entities>
                    <redirects>
                        <table>adcode_redirects</table>
                    </redirects>
                </entities>
            </adcoderouter_resource>
        </models>
        <helpers>
            <adcoderouter>
                <class>Tgc_Adcoderouter_Helper</class>
            </adcoderouter>
        </helpers>
        <resources>
            <adcoderouter_setup>
                <setup>
                    <module>Tgc_Adcoderouter</module>
                </setup>
            </adcoderouter_setup>
        </resources>
    </global>
    <mana_core>
        <routers>
            <adcode>
                <class>Tgc_Adcoderouter_Model_Router</class>
                <sort_order>300</sort_order>
            </adcode>
        </routers>
    </mana_core>
    <frontend>
        <layout>
            <updates>
                <adcoderouter>
                    <file>adcoderouter.xml</file>
                </adcoderouter>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <add_any_adcoderedirect_errormessages>
                        <class>Tgc_Adcoderouter_Model_Observer</class>
                        <method>addAnyAdcoderedirectErrormessages</method>
                    </add_any_adcoderedirect_errormessages>
                    <add_any_adcode_hardredirects>
                        <class>Tgc_Adcoderouter_Model_Observer</class>
                        <method>addAnyAdcodeHardredirects</method>
                    </add_any_adcode_hardredirects>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <make_globalmessages_for_adcoderedirects_showon_redirect>
                        <class>Tgc_Adcoderouter_Model_Observer</class>
                        <method>addAnyAdcoderedirectErrormessages</method>
                    </make_globalmessages_for_adcoderedirects_showon_redirect>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tgc_Adcoderouter before="Mage_Adminhtml">Tgc_Adcoderouter_Adminhtml</Tgc_Adcoderouter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <adcoderouter>
                    <file>adcoderouter.xml</file>
                </adcoderouter>
            </updates>
        </layout>
    </adminhtml>
    <acl>
        <resources>
            <admin>
                <children>
                    <catalog>
                        <children>
                            <adcoderedirectlist>
                                <title>Ad Code Redirects</title>
                            </adcoderedirectlist>
                        </children>
                    </catalog>
                </children>
            </admin>
        </resources>
    </acl>
</config>