<?xml version="1.0"?>
<!--
/**
 * utilities to get information about classes through PHP Reflection API
 *
 * @author      Guidance Magento Team <magento@guidance.com>
 * @category    Guidance
 * @package     Useragent
 * @copyright   Copyright (c) 2014 Guidance Solutions (http://www.guidance.com)
 */
-->
<config>
    <modules>
        <Guidance_Useragent>
            <version>0.0.1</version>
        </Guidance_Useragent>
    </modules>

    <global>
        <helpers>
            <Guidance_Useragent>
                <class>Guidance_Useragent_Helper</class>
            </Guidance_Useragent>
        </helpers>
    </global>
</config>