<?xml version="1.0"?>
<config>
    <modules>
        <Tgc_GiftCardAccount>
            <version>1</version>
        </Tgc_GiftCardAccount>
    </modules>
    <global>
        <blocks>
            <tgc_giftcardaccount>
                <class>Tgc_GiftCardAccount_Block</class>
            </tgc_giftcardaccount>
            <enterprise_giftcardaccount>
                <rewrite>
                    <adminhtml_giftcardaccount_grid>Tgc_GiftCardAccount_Block_Adminhtml_Giftcardaccount_Grid</adminhtml_giftcardaccount_grid>
                </rewrite>
            </enterprise_giftcardaccount>
        </blocks>
        <models>
            <tgc_giftcardaccount>
                <class>Tgc_GiftCardAccount_Model</class>
            </tgc_giftcardaccount>
        </models>
        <rewrite>
            <tgc_giftcardaccount_cart>
                <from><![CDATA[#^/giftcard/cart/add/#]]></from>
                <to>/giftcardtgc/cart/add/</to>
            </tgc_giftcardaccount_cart>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <enterprise_giftcardaccount>
                <args>
                    <modules>
                        <tgc_giftcardaccount before="Enterprise_GiftCardAccount">Tgc_GiftCardAccount</tgc_giftcardaccount>
                    </modules>
                </args>
            </enterprise_giftcardaccount>
            <tgc_giftcardaccount>
                <use>standard</use>
                <args>
                    <module>Tgc_GiftCardAccount</module>
                    <frontName>giftcardtgc</frontName>
                </args>
            </tgc_giftcardaccount>
        </routers>

        <events>
            <controller_action_postdispatch_enterprise_giftcardaccount_cart_add>
                <observers>
                    <tgc_giftcardaccount_append_add_action_response>
                        <model>tgc_giftcardaccount/observer</model>
                        <method>appendAddActionResponse</method>
                    </tgc_giftcardaccount_append_add_action_response>
                </observers>
            </controller_action_postdispatch_enterprise_giftcardaccount_cart_add>
            <controller_action_postdispatch_enterprise_giftcardaccount_cart_remove>
                <observers>
                    <tgc_giftcardaccount_append_remove_action_response>
                        <model>tgc_giftcardaccount/observer</model>
                        <method>appendRemoveActionResponse</method>
                    </tgc_giftcardaccount_append_remove_action_response>
                </observers>
            </controller_action_postdispatch_enterprise_giftcardaccount_cart_remove>
        </events>
    </frontend>
</config>