<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Tgc_Lectures>
            <version>14</version>
        </Tgc_Lectures>
    </modules>
    <global>
        <blocks>
            <lectures>
                <class>Tgc_Lectures_Block</class>
            </lectures>
        </blocks>
        <models>
            <lectures>
                <class>Tgc_Lectures_Model</class>
                <resourceModel>lectures_resource</resourceModel>
            </lectures>
            <lectures_resource>
                <class>Tgc_Lectures_Model_Resource</class>
                <entities>
                    <lectures>
                        <table>lectures</table>
                    </lectures>
                </entities>
            </lectures_resource>
        </models>
        <helpers>
            <lectures>
                <class>Tgc_Lectures_Helper</class>
            </lectures>
        </helpers>
        <resources>
            <lectures_setup>
                <setup>
                    <module>Tgc_Lectures</module>
                </setup>
            </lectures_setup>
            <lectures_attribute>
                <setup>
                    <module>Tgc_Lectures</module>
                    <class>Tgc_Catalog_Model_Resource_Setup</class>
                </setup>
            </lectures_attribute>
        </resources>
        <importexport>
            <import_entities>
                <free_lecture_prospect translate="label">
                    <model_token>lectures/import_entity_freeLectureProspect</model_token>
                    <label>Free Lecture Prospects</label>
                </free_lecture_prospect>
            </import_entities>
        </importexport>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tgc_Lectures before="Mage_Adminhtml">Tgc_Lectures_Adminhtml</Tgc_Lectures>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <lectures>
                <use>standard</use>
                <args>
                    <module>Tgc_Lectures</module>
                    <frontName>freelectures</frontName>
                </args>
            </lectures>
            <tgc>
                <args>
                    <modules>
                        <Tgc_Lectures before="Tgc_Datamart">Tgc_Lectures_Datamart</Tgc_Lectures>
                    </modules>
                </args>
            </tgc>
        </routers>
        <layout>
            <updates>
                <lectures>
                    <file>freelectures.xml</file>
                </lectures>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_edit_element_types>
                <observers>
                    <add_additional_element_renderers_custom>
                        <class>Tgc_Lectures_Model_Observer</class>
                        <method>addAdditionalElementRenderersCustom</method>
                    </add_additional_element_renderers_custom>
                </observers>
            </adminhtml_catalog_product_edit_element_types>
        </events>
        <layout>
            <updates>
                <lectures>
                    <file>lectures.xml</file>
                </lectures>
            </updates>
        </layout>
    </adminhtml>
</config>