<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Cookie Ninja
 *
 * @author      Guidance Magento Team <magento@guidance.com>
 * @category    Tgc
 * @package     CookieNinja
 * @copyright   Copyright (c) 2014 Guidance Solutions (http://www.guidance.com)
 */
-->
<config>
    <modules>
        <Tgc_CookieNinja>
            <version>0.4.0</version>
        </Tgc_CookieNinja>
    </modules>
    <global>
        <helpers>
            <ninja>
                <class>Tgc_CookieNinja_Helper</class>
            </ninja>
        </helpers>
        <models>
            <ninja>
                <class>Tgc_CookieNinja_Model</class>
            </ninja>
        </models>
        <resources>
            <ninja_setup>
                <setup>
                    <module>Tgc_CookieNinja</module>
                    <class>Tgc_CookieNinja_Model_Resource_Ninja</class>
                </setup>
            </ninja_setup>
        </resources>
        <events>
            <enterprise_url_rewrite_load_after>
                <observers>
                    <ninja_set_cookies_before_redirect>
                        <class>ninja/ninja</class>
                        <method>setCookiesBeforeRedirect</method>
                    </ninja_set_cookies_before_redirect>
                </observers>
            </enterprise_url_rewrite_load_after>
        </events>
        <rewrite>
            <ninja_tgc_courses_courses_rewrite>
                <from><![CDATA[#^/tgc/courses/courses.aspx#]]></from>
                <to>/courses</to>
            </ninja_tgc_courses_courses_rewrite>
            <ninja_tgc_professors_professor_details_rewrite>
                <from><![CDATA[#^/tgc/professors/professor_detail.aspx#]]></from>
                <to>/professors/professor/view</to>
            </ninja_tgc_professors_professor_details_rewrite>
            <ninja_greatcourses_rewrite>
                <from><![CDATA[#^/greatcourses.aspx#]]></from>
                <to>/courses</to>
            </ninja_greatcourses_rewrite>
            <ninja_tgc_courses_course_detail_rewrite>
                <from><![CDATA[#^/tgc/courses/course_detail.aspx#]]></from>
                <to>/catalog/product/view</to>
            </ninja_tgc_courses_course_detail_rewrite>
            <ninja_tgc_courses_podcastepisode_rewrite>
                <from><![CDATA[#^/tgc/Courses/PodcastEpisode.aspx#]]></from>
                <to>/podcasts/podcast/view</to>
            </ninja_tgc_courses_podcastepisode_rewrite>
            <ninja_tgc_professors_professorsbytopic_rewrite>
                <from><![CDATA[#^/tgc/professors/professorsbytopic.aspx#]]></from>
                <to>/professors</to>
            </ninja_tgc_professors_professorsbytopic_rewrite>
        </rewrite>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ninja_set_store_cookie>
                        <class>ninja/ninja</class>
                        <method>setStoreCookie</method>
                    </ninja_set_store_cookie>
                    <ninja_set_is_prospect_cookie>
                        <class>ninja/ninja</class>
                        <method>setIsProspectCookie</method>
                    </ninja_set_is_prospect_cookie>
                    <ninja_check_ad_code_applied>
                        <class>ninja/ninja</class>
                        <method>checkAdCodeApplied</method>
                    </ninja_check_ad_code_applied>
                    <ninja_set_edit_cart_user_cookie>
                        <class>ninja/ninja</class>
                        <method>setEditCartUserCookie</method>
                    </ninja_set_edit_cart_user_cookie>
                    <ninja_handle_querystring_params>
                        <class>ninja/ninja</class>
                        <method>handleQuerystringParams</method>
                    </ninja_handle_querystring_params>
                    <ninja_set_customer_cookie>
                        <class>ninja/ninja</class>
                        <method>setCustomerCookie</method>
                    </ninja_set_customer_cookie>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_update_items_after>
                <observers>
                    <ninja_renew_store_cookie>
                        <class>ninja/ninja</class>
                        <method>renewStoreCookie</method>
                    </ninja_renew_store_cookie>
                </observers>
            </checkout_cart_update_items_after>
            <adcode_save_after>
                <observers>
                    <ninja_set_catalog_code_cookie>
                        <class>ninja/ninja</class>
                        <method>setCatalogCodeCookie</method>
                    </ninja_set_catalog_code_cookie>
                    <ninja_set_ad_code_cookie>
                        <class>ninja/ninja</class>
                        <method>setAdCodeCookie</method>
                    </ninja_set_ad_code_cookie>
                </observers>
            </adcode_save_after>
            <sales_order_save_commit_after>
                <observers>
                    <ninja_update_is_prospect_cookie>
                        <class>ninja/ninja</class>
                        <method>updateIsProspectCookie</method>
                    </ninja_update_is_prospect_cookie>
                </observers>
            </sales_order_save_commit_after>
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <ninja_set_recently_view_cookie>
                        <class>ninja/ninja</class>
                        <method>setRecentlyViewCookie</method>
                    </ninja_set_recently_view_cookie>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <sales_quote_save_after>
                <observers>
                    <ninja_set_coupon_added_cookie>
                        <class>ninja/ninja</class>
                        <method>setCouponAddedCookie</method>
                    </ninja_set_coupon_added_cookie>
                </observers>
            </sales_quote_save_after>
            <customer_login>
                <observers>
                    <ninja_set_store_cookie>
                        <class>ninja/ninja</class>
                        <method>setStoreCookie</method>
                    </ninja_set_store_cookie>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <ninja_set_store_cookie>
                        <class>ninja/ninja</class>
                        <method>unsetAdcode</method>
                    </ninja_set_store_cookie>
                </observers>
            </customer_logout>
        </events>
    </frontend>
</config>
