<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Guidance Magento Team <magento@guidance.com>
  - Copyright (c) 2014 Guidance Solutions (http://www.guidance.com)
  -->

<config>
    <modules>
        <Tgc_Professors>
            <version>14</version>
        </Tgc_Professors>
    </modules>
    <global>
        <blocks>
            <profs>
                <class>Tgc_Professors_Block</class>
            </profs>
        </blocks>
        <helpers>
            <profs>
                <class>Tgc_Professors_Helper</class>
            </profs>
        </helpers>
        <models>
            <profs>
                <class>Tgc_Professors_Model</class>
                <resourceModel>profs_resource</resourceModel>
            </profs>
            <profs_resource>
                <class>Tgc_Professors_Model_Resource</class>
                <entities>
                    <professor>
                        <table>professor</table>
                    </professor>
                    <institution>
                        <table>institution</table>
                    </institution>
                    <alma_mater>
                        <table>professor_alma_mater</table>
                    </alma_mater>
                    <product>
                        <table>professor_product</table>
                    </product>
                    <teaching>
                        <table>professor_teaching</table>
                    </teaching>
                </entities>
            </profs_resource>
        </models>
        <resources>
            <profs_setup>
                <setup>
                    <module>Tgc_Professors</module>
                </setup>
            </profs_setup>
        </resources>
        <events>
            <catalogsearch_index_process_complete>
                <observers>
                    <add_professor_data_to_index>
                        <class>profs/observer</class>
                        <method>reindexAllProfessors</method>
                    </add_professor_data_to_index>
                </observers>
            </catalogsearch_index_process_complete>
            <catalogsearch_index_process_complete>
                <observers>
                    <add_institution_data_to_index>
                        <class>profs/observer</class>
                        <method>reindexAllInstitutions</method>
                    </add_institution_data_to_index>
                </observers>
            </catalogsearch_index_process_complete>
            <professor_delete_commit_after>
                <observers>
                    <remove_professor_from_index>
                        <class>profs/observer</class>
                        <method>removeProfessorFromIndex</method>
                    </remove_professor_from_index>
                </observers>
            </professor_delete_commit_after>
            <professor_save_commit_after>
                <observers>
                    <add_professor_to_index>
                        <class>profs/observer</class>
                        <method>addProfessorToIndex</method>
                    </add_professor_to_index>
                </observers>
            </professor_save_commit_after>
            <institution_delete_commit_after>
                <observers>
                    <remove_professor_from_index>
                        <class>profs/observer</class>
                        <method>removeInstitutionFromIndex</method>
                    </remove_professor_from_index>
                </observers>
            </institution_delete_commit_after>
            <institution_save_commit_after>
                <observers>
                    <add_professor_to_index>
                        <class>profs/observer</class>
                        <method>addInstitutionToIndex</method>
                    </add_professor_to_index>
                </observers>
            </institution_save_commit_after>
            <controller_front_init_before>
                <observers>
                    <profs>
                        <class>Tgc_Professors_Controller_Router</class>
                        <method>register</method>
                    </profs>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <profs before="Mage_Adminhtml">Tgc_Professors_Adminhtml</profs>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <profs>
                    <file>professors.xml</file>
                </profs>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <profs>
                <use>standard</use>
                <args>
                    <module>Tgc_Professors</module>
                    <frontName>profs</frontName>
                </args>
            </profs>
        </routers>

        <layout>
            <updates>
                <profs>
                    <file>professors.xml</file>
                </profs>
            </updates>
        </layout>
    </frontend>
</config>