<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Guidance Magento Team <magento@guidance.com>
  - Copyright (c) 2013 Guidance Solutions (http://www.guidance.com)
  -->

<config>
    <modules>
        <Tgc_Price>
            <version>10</version>
        </Tgc_Price>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>Tgc_Price_Block_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_price>Tgc_Price_Block_Catalog_Product_Price</product_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <tgc_price>
                <class>Tgc_Price_Helper</class>
            </tgc_price>
        </helpers>
        <models>
            <tgc_price>
                <class>Tgc_Price_Model</class>
                <resourceModel>tgc_price_resource</resourceModel>
            </tgc_price>
            <tgc_price_resource>
                <class>Tgc_Price_Model_Resource</class>
                <entities>
                    <adCode>
                        <table>ad_code</table>
                    </adCode>
                </entities>
            </tgc_price_resource>
            <customer>
                <rewrite>
                    <group>Tgc_Price_Model_Customer_Group</group>
                </rewrite>
            </customer>
        </models>
        <resources>
            <tgc_price_setup>
                <setup>
                    <module>Tgc_Price</module>
                </setup>
            </tgc_price_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <update_customer_group_id_cookie>
                        <class>Tgc_Price_Model_AdCode_Processor</class>
                        <method>updateCustomerGroupIdCookie</method>
                    </update_customer_group_id_cookie>
                    <process_adcoderedirect>
                        <class>Tgc_Price_Model_AdCode_Processor</class>
                        <method>processRedirect</method>
                    </process_adcoderedirect>
                    <add_customer_group_id_on_copy>
                        <class>Tgc_Price_Model_AdCode_Processor</class>
                        <method>setCustomerGroupIdByCurrentAdCode</method>
                    </add_customer_group_id_on_copy>
                </observers>
            </controller_action_predispatch>
            <core_copy_fieldset_customer_account_to_quote>
                <observers>
                    <add_customer_group_id_on_copy>
                        <class>Tgc_Price_Model_AdCode_Processor</class>
                        <method>addCustomerGroupIdToQuoteOnCopyByAdCode</method>
                    </add_customer_group_id_on_copy>
                </observers>
            </core_copy_fieldset_customer_account_to_quote>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <check_cart_grand_total_for_minimum>
                        <class>Tgc_Price_Model_PriceCheck</class>
                        <method>checkCouponForMinimalGrandTotal</method>
                    </check_cart_grand_total_for_minimum>
                    <check_cart_grand_total_for_positive>
                        <class>Tgc_Price_Model_PriceCheck</class>
                        <method>checkCouponForPositiveTotal</method>
                    </check_cart_grand_total_for_positive>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <check_cart_grand_total_for_positive>
                        <class>Tgc_Price_Model_PriceCheck</class>
                        <method>checkCartForPositiveTotal</method>
                    </check_cart_grand_total_for_positive>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_progress>
                <observers>
                    <check_cart_grand_total_for_positive>
                        <class>Tgc_Price_Model_PriceCheck</class>
                        <method>checkCartForPositiveTotal</method>
                    </check_cart_grand_total_for_positive>
                </observers>
            </controller_action_predispatch_checkout_onepage_progress>
        </events>
        <routers>
            <tgc_price>
                <use>standard</use>
                <args>
                    <module>Tgc_Price</module>
                    <frontName>price</frontName>
                </args>
            </tgc_price>
        </routers>
        <translate>
            <modules>
                <Tgc_Price>
                    <files>
                        <default>Tgc_Price.csv</default>
                    </files>
                </Tgc_Price>
            </modules>
        </translate>
    </frontend>
    <default>
        <tgc_price>
            <price_check_enabled>1</price_check_enabled>
            <!-- Feature toggle used in Tgc_Price_Model_PriceCheck::isActive() -->
            <max_saving_threshold>0.005</max_saving_threshold>
        </tgc_price>
    </default>
</config>